#sliding-popup {
  left: 0;
  right: 0;
}

#sliding-popup .popup-banner__wrapper {
  width: 750px;
  background-color: #F3EDED;
}

#sliding-popup h1,
#sliding-popup h2,
#sliding-popup h3,
#sliding-popup h4,
#sliding-popup h5,
#sliding-popup h6 {
  font-weight: bold;
}

#sliding-popup #popup-text h1,
#sliding-popup #popup-text h2,
#sliding-popup #popup-text h3,
#sliding-popup #popup-text h4,
#sliding-popup #popup-text h5,
#sliding-popup #popup-text h6 {
  margin-top: 0;

  font-size: 24px;
}

#sliding-popup .popup-toggle-group {
  padding: 2px 0;
}

#sliding-popup .popup-banner-consent-field {
  display: inline-block;
  vertical-align: top;
}

#sliding-popup #eu-cookie-compliance-categories .popup-banner-consent-field label {
  padding: 4px 8px 6px 2px;
  vertical-align: top;
}

#sliding-popup .popup-banner__wrapper button,
#sliding-popup .popup-banner__wrapper button:hover,
#sliding-popup .popup-banner__wrapper button.eucc-button__accept,
#sliding-popup .popup-banner__wrapper button.eucc-button__accept:hover
{
  padding: 8px 16px;

  font-weight: bold;
  font-size: 100%;

  border-radius: 4px;

  border: 1px solid #DDD6D1;
  background-color: #fff;
  color: #000;
}

#sliding-popup button + button {
  margin-left: 20px;
}

.eu-cookie-compliance-popup-closed #sliding-popup.sliding-popup-popup .eu-cookie-withdraw-tab {
  transition: none;
  background: #ffffff;
}
