#borger_dk-body h2 {
  background-image: url('../images/foldOut.png');
  background-position: 98% 70%;
  background-repeat: no-repeat;
  border-top: 1px solid #dddddd;
  font-family: inherit;
  font-size: 16px !important;
  margin-bottom: 2px;
  padding-top: 1px;
}

div.microArticle a {
  color: #496E04;
}
.borger_dk_billede img {
  width: 200px;
  height: 180px;
  float: right;
}

#borger_dk_header{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
  padding: 0px 5px 10px 10px;
}
.os2web_borger_dk_selfservi {
  clear: both;
  padding: 10px 15px;
  background-color: #D9E5C3;
  border-radius: 7px 7px 7px 7px;
}

.os2web_borger_dk_selfservi h3 {
  border-bottom: 1px solid #BBC5A8;
  color: #526A27;
  font-size: 20px;
  font-weight: 300;
}

.os2web_borger_dk_selfservi ul li a, .os2web_borger_dk_selfservi a:link{
  color: #526A27;
  font-size: 13px;
  /*list-style-type: disc;
  text-decoration: underline;*/
}

.borger_dk-region-stack2,
.borger_dk-region-stack3, .borger_dk-region-stack4 {
  clear: both;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  padding: 10px 5px 10px 10px;
}

.borger_dk-field_os2web-borger-dk-pre_text {
  margin: 30px auto;
}

.borger_dk-field_os2web-borger-dk-post_text {
  margin: 30px auto;
}

.borger_dk_body_intro_text {
  font-size: 16px;
}

.borger_dk-region-stack3 .inside .borger_dk-body.node-body div a:link a:visited,
.borger_dk-region-stack3 .inside .borger_dk-body.node-body div div ul li p a,
.borger_dk-region-stack3 .inside .borger_dk-field_os2web-borger-dk-legislati div a {
  color: #2d2d2d;
  font-size: 13px;
/*  list-style-type: disc;
  text-decoration: underline;*/
}
.borger_dk-region-stack4 .inside .borger_dk-field_os2web-borger-dk-recommend ul li a,
.borger_dk-region-stack4 .inside .borger_dk-field_os2web-borger-dk-shortlist ul li a {
  color: #2d2d2d;
  font-size: 13px;
 /* list-style-type: disc;
  text-decoration: underline;*/
}
.borger_dk-field_os2web-borger-dk-legislati {
  margin-top: 30px;
}

.borger_dk-field_os2web-borger-dk-shortlist {
  margin-top: 20px; 
}

.borger_dk-field_os2web-borger-dk-legislati h3,
.borger_dk-field_os2web-borger-dk-recommend h3,
.borger_dk-field_os2web-borger-dk-shortlist h3 {
  border-bottom: 1px solid #C3C3C3;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.borger_dk-field_os2web-borger-dk-recommend h4 {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.borger_dk-field_os2web-borger-dk-legislati,
.borger_dk-field_os2web-borger-dk-recommend,
.borger_dk-field_os2web-borger-dk-shortlist {
  background-color: #F0F0F0;
  border-radius: 7px 7px 7px 7px;
  padding: 10px 15px;
}

.borger_dk-region-stack2.gul-boks div ul,
.borger_dk-region-stack3 .inside .borger_dk-body.node-body div div ul,
.borger_dk-region-stack4 .inside .borger_dk-field_os2web-borger-dk-recommend ul,
.borger_dk-region-stack4 .inside .borger_dk-field_os2web-borger-dk-shortlist ul {
   /* margin: 0 0 1.5em 2em;*/
}
.borger_dk-field_os2web-borger-dk-byline {
  font-family: Arial,Helvetica,sans-serif;
  float: right;
  padding-right: 10px;
}
