// |--------------------------------------------------------------------------
// | Full node
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .os2-node-full
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Full node
.os2-node-full {

	.os2-node-full-intro {
	font-family: @font-family-serif;
	font-size: @font-size-h3;
	.line-height-heading(@font-size-h4);
	letter-spacing: @bs3-designer-headings-h3-letter-spacing;
	color: @brand-senary;
	margin-bottom: @bs3-designer-margin-and-padding-xs-xl;
	margin-top: @bs3-designer-margin-and-padding-xs-xl;
	}

    .featured-area {
      padding: 15px 20px;
      background: #f3edef;
      margin-bottom: 40px;
    }

    &.node-os2web-hearings-hearing-case {
      .group_os2web_hearings_esdh_attac,
      .group_os2web_hearings_esdh_reply {
        h5 {
          font-weight: bold;
        }
      }

      .field {
        .field-label {
          font-weight: normal;
        }

        margin-bottom: 20px;
        &.field-name-field-os2web-hearings-enddate,
        &.field-name-field-os2web-base-case-no {
          font-weight: bold;
        }
        &.field-type-file,
        &.field-type-os2web-esdh-field-case-ident,
        &.field-type-os2web-esdh-field-doc-ident {
          table {
            width: 100%;
            thead {
              th {
                padding-bottom: 10px;
                border: 0;
                &:first-child {
                  padding-left: 0;
                  color: @brand-primary;
                  font-size: 16px;
                }
                &:nth-child(2) {
                  width: 120px;
                }
              }
            }
            tbody {
              td {
                font-weight: bold;
                border: 0;
                &:nth-child(2) {
                  width: 120px;
                }
              }
            }
          }
        }
        &.field-type-os2web-esdh-field-case-ident,
        &.field-type-os2web-esdh-field-doc-ident {
          thead {
            display: none;
          }
        }
      }
    }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

	// Full node
	.os2-node-full {}
}

// Mobile - only
@media @media-query-mobile-only {

	// Full node
	.os2-node-full {}
}

// Tablet
@media @media-query-tablet {

	// Full node
  .os2-node-full {
    &.node-os2web-hearings-hearing-case {
      .field {
        &.field-name-field-os2web-hearings-enddate,
        &.field-name-field-os2web-base-case-no {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Tablet - only
@media @media-query-tablet-only {

	// Full node
	.os2-node-full {}
}

// Desktop
@media @media-query-desktop {

	// Full node
	.os2-node-full {}
}

// Desktop - only
@media @media-query-desktop-only {

	// Full node
	.os2-node-full {}
}

// Large desktop
@media @media-query-large-desktop {

	// Full node
	.os2-node-full {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

	// Full node
	.os2-node-full {}
}

// Print
@media print {

	// Full node
	.os2-node-full {}
}

// Touch
.touchevents {

	// Full node
	.os2-node-full {}
}

// No touch
.no-touchevents {

	// Full node
	.os2-node-full {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Full node mixin
.os2-mixin-node-full() {}
