.control-group.form-type-textfield.form-item-search-block-form.form-item {
  width: 80%;
}
#edit-keys,
#edit-search-block-form--2 {
  width: 90%;
}
.goto-full {
  width: 30%;
}

ul.nav {
  margin: 0 0 10px 25px;
  list-style: disc;
}

.fine-print {
  font-size: 12px;
}

#search-block-form #edit-submit:after {
  content: "Søg";
}

.full-width-link:before {
    content: "Se siden i fuld bredde";
}
article.node iframe {
    width: 100% !important;
}
.form-textarea-wrapper textarea,
.webform-component input {
  max-width: 100%;
  padding: 5px 0;
}
.webform-component input[type="image"]{
  width: auto;
}

.pane-node-webform {
  background: #FFF;
  padding: 5px;
}
.pane-node-webform label {
  font-size: 18px;
  font-weight: 600;
}

.pane-node-webform .webform-component {
  margin-bottom: 20px;
}
.pane-node-webform .radio,
.pane-node-webform .checkbox {
  font-weight: 400;
  font-size: 16px;
}
