.popup-toggle-group {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: inherit;
}
.popup-banner__page {
    background:#f6f6f6;
}
.popup-banner-consent-group{
    padding:0 40px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0;
    float: none;
}
.popup-banner-consent-field{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-right: solid 1px #ccc;
    padding: 20px 0;
}
.popup-banner-consent-field:last-child{
    border-right:0;
}
.popup-banner-consent-field div {
    display: flex;
    justify-content: center;
}

.popup-checkboxes{
    position:relative;
    display:flex;
}
.popup-checkboxes input {
    opacity: 0 !important;
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    cursor: pointer;
    clip:initial !important;
    left:0 !important;
    top:0 !important;
    display:block !important;
}
.popup-checkboxes input:focus + .checkbox-toggle{
    outline:solid 2px #4D90FE;
}
.popup-checkboxes .checkbox-toggle {
    background: #aaa;
    width: 65px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}
.popup-checkboxes input[type=checkbox]:checked + .checkbox-toggle {
    background: #1C771C;
}
.popup-checkboxes input[type=checkbox]:checked + .checkbox-toggle:before {
    left: 30px;
    background: #fff;
}
.popup-checkboxes input[type=checkbox]:disabled + .checkbox-toggle {
    opacity:.3;
}
.popup-checkboxes .checkbox-toggle:before {
    transition: .3s ease;
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background: #fff;
    left: 5px;
    top: 5px;
    box-sizing: border-box;
    color: #333;
    border-radius: 100px;
}
.popup-banner__page-footer:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 10px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 0px;
    transform: translateY(100%);
    z-index: 5000;
}
